/*--- css global ---*/
*{
    background-color: #FC7300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
h2{
    font-family: 'Belanosima', sans-serif;
    color: #00425A;
}
p{
    font-family: 'Poppins', sans-serif;
}

/*--- css encabezado ---*/
#navbar{
    position: fixed;
    width: 100%;
    font-family: 'Belanosima', sans-serif;
}

/*=== comportamiento responsive ===*/
/*=== telefonos ===*/
@media (min-width: 320px) {
    /*--- css noticias ---*/
    #noticias{
        padding-top: 70px;
    }
    #contenedorDeNoticias{
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        align-items: center;
    }
    #contenedorDeNoticias h2{
        font-size: 20px;
        text-align: center;
        font-family: 'Belanosima', sans-serif;
    }
    #contenedorDeNoticias p{
        font-size: 10px;
        text-align: left;
        font-family: 'Poppins', sans-serif;

    }
    /*--- css propuesta educativa ---*/
    #propuestaEducativa{
        padding-top: 70px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        align-items: center;
        text-align: center;
    }
    /*--- css quienes somos ---*/
    #quienesSomos{
        padding-top: 70px;
    }
    #contenedorInfoEscuela{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        align-items: center;
    }
    /*--- css por que elegirnos ---*/
    #contenedorEligenos{
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        align-items: center;
    }
    #primeraImagen{
        position: absolute;
        height: 150px;
        width: 150px;
        z-index: -1;

    }
    #segundaImagen{
        position: absolute;
        height: 150px;
        width: 150px;
        z-index: -2;

    }
    #terceraImagen{
        position: absolute;
        height: 150px;
        width: 150px;
        z-index: -3;
    }
     /*--- css footer ---*/
     #piePagina{
        margin-top: 70px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 20px;
    }
    ion-icon {
        font-size: 20px;
        color: #181823;
    }
    #contacto{
        color: #1F8A70;
    }
}

/*=== tablets ===*/
@media (min-width: 768px){

}

/*=== computadoras ===*/
@media (min-width: 1200px){
     /*--- css noticias ---*/
     #noticias{
        padding-top: 70px;
        color: #00425A;
    }
    #contenedorDeNoticias{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        align-items: center;
    }
    #contenedorDeNoticias h2{
        font-size: 20px;
        text-align: center;
        color: #00425A;
    }
    #contenedorDeNoticias p{
        font-size: 12px;
        text-align: left;
        color: black;
    }
    /*--- css propuesta educativa ---*/
    #propuestaEducativa{
        padding-top: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        align-items: center;
        text-align: center;
        color: #00425A;
    }
    /*--- css quienes somos ---*/
    #quienesSomos{
        padding-top: 70px;
        color: #00425A;
    }
    #contenedorInfoEscuela{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        align-items: center;
    }
    /*--- css por que elegirnos ---*/
    #porQueElegirnos{
        padding-top: 70px;
        color: #00425A;
    }
    #contenedorEligenos{
        padding-top: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        align-items: center;
    }
    #primeraImagen{
        position: absolute;
        height: 300px;
        width: 300px;
        z-index: -1;
        margin-top: -150px;
    }
    #segundaImagen{
        position: absolute;
        height: 300px;
        width: 300px;
        z-index: -2;
        margin-top: -150px;
    }
    #terceraImagen{
        position: absolute;
        height: 300px;
        width: 300px;
        z-index: -3;
        margin-top: -150px;
    }
     /*--- css footer ---*/
     #piePagina{
        margin-top: 150px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 20px;
        width: 100%;
        font-family: 'Belanosima', sans-serif;
        color: #00425A;
    }
    ion-icon {
        font-size: 50px;
        color: #181823;
    }
    #contacto{
        color: #1F8A70;
    }

}

/*--- animaciones ---*/
@keyframes fadeIn{

}
@keyframes fadeOut{

}